<app-dashboard></app-dashboard>
<mat-divider></mat-divider>
<div class="admin-dashboard">


    <mat-chip-list>
        <mat-chip>
            <span matBadge="3" matBadgeOverlap="false">Mahmmadkhamar Shaikh</span>
        </mat-chip>
        <mat-chip>
            <span matBadge="3" matBadgeOverlap="false">Pandarinath</span>
        </mat-chip>
        <mat-chip>
            <span matBadge="3" matBadgeOverlap="false">Akash</span>
        </mat-chip>
        <mat-chip>
            <span matBadge="3" matBadgeOverlap="false">Vaibhav</span>
        </mat-chip>

        <mat-chip>
            <span matBadge="3" matBadgeOverlap="false">Rahul</span>
        </mat-chip>
    </mat-chip-list>

</div>
<mat-divider></mat-divider>
<div class="admin-dashboard">
    Team Members who are not sure !
</div>
<div class="admin-dashboard">
    <mat-chip-list>
        <mat-chip selected color="accent">
            Vaibhav
        </mat-chip>
        <mat-chip selected color="accent">
            Shipa
        </mat-chip>
    </mat-chip-list>
</div>