:host {
    .admin-dashboard {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 5px;
        flex-wrap: wrap;
    }
    .admin-dashboard>mat-chip-list {
        margin: 10px;
    }
}
