<app-dashboard></app-dashboard>
<mat-divider></mat-divider>
<div class="admin-dashboard">

    <mat-card matRipple>

        <mat-card-content>
            <span matBadge="3" matBadgeOverlap="false">Mahmmadkhamar </span>
        </mat-card-content>
    </mat-card>
    <mat-card matRipple>
        <mat-card-content>
            <span matBadge="3" matBadgeOverlap="false">Pandari</span>
        </mat-card-content>
    </mat-card>
    <mat-card matRipple>
        <mat-card-content>
            <span matBadge="3" matBadgeOverlap="false">vaibhav</span>
        </mat-card-content>
    </mat-card>
    <mat-card matRipple>
        <mat-card-content>
            <span matBadge="3" matBadgeOverlap="false">Akash</span>
        </mat-card-content>
    </mat-card>
    <mat-card matRipple>
        <mat-card-content>
            <span matBadge="5" matBadgeOverlap="false">Rahul</span>
        </mat-card-content>
    </mat-card>

</div>