<div class="team-container">
    <!-- <mat-card>
    <mat-card-content align="center">Pioneer</mat-card-content>
    <mat-card-actions align="center">

      <mat-icon color="primary" matRipple [routerLink]="['/home/ceremony']">home</mat-icon>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-content align="center">Black Panthers</mat-card-content>
    <mat-card-actions align="center">
      <mat-icon color="primary" matRipple [routerLink]="['/home/ceremony']">home</mat-icon>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-content align="center">Asgardins</mat-card-content>
    <mat-card-actions align="center">
      <mat-icon color="primary" matRipple [routerLink]="['/home/ceremony']"> home</mat-icon>
    </mat-card-actions>
  </mat-card> -->

    <mat-card *ngFor="let team of teams$; let i=index">
        <mat-card-content align="center">
            {{team.teamName}}
        </mat-card-content>
        <mat-card-actions align="center">

            <mat-icon color="primary" matRipple [routerLink]="['/home/ceremony']">groups</mat-icon>
        </mat-card-actions>

    </mat-card>


</div>