<div class="dashboard">
    <button mat-raised-button>
    Story {{storyNumber}}
  </button>
</div>

<div class="dashboard">
    <mat-card matRipple (click)="cardSelection(2)">
        <mat-card-content>
            2
        </mat-card-content>
    </mat-card>
    <mat-card matRipple (click)="cardSelection(3)">
        <mat-card-content>
            3
        </mat-card-content>
    </mat-card>
    <mat-card matRipple (click)="cardSelection(5)">
        <mat-card-content>
            5
        </mat-card-content>
    </mat-card>
    <mat-card matRipple (click)="cardSelection(8)">
        <mat-card-content>
            8
        </mat-card-content>
    </mat-card>
    <mat-card matRipple (click)="cardSelection(13)">
        <mat-card-content>
            13
        </mat-card-content>
    </mat-card>



</div>
<div class="dashboard">
    <mat-card matRipple (click)="cardSelection('all_inclusive')">
        <mat-card-content>
            <mat-icon>all_inclusive</mat-icon>
        </mat-card-content>
    </mat-card>
    <mat-card matRipple (click)="cardSelection('?')">
        <mat-card-content>
            ?
        </mat-card-content>
    </mat-card>
    <mat-card matRipple (click)="cardSelection(0)">
        <mat-card-content>
            0
        </mat-card-content>
    </mat-card>

</div>
<div class="dashboard">
    <div [ngSwitch]="cardValue.type">
        <div *ngSwitchCase="'all_inclusive'">
            <button mat-raised-button class="selection-button"> I am NOT sure !</button>
        </div>
        <div *ngSwitchCase="'?'">
            <button mat-raised-button class="selection-button"> I still have a doubt !</button>
        </div>
        <div *ngSwitchDefault> <button mat-raised-button class="selection-button"> You selected : {{cardValue.value}}</button></div>

    </div>
</div>