:host {
    .avtar-center {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 60px 1rem;
    }
    .avtar-center>mat-card {
        width: 300px;
    }
    .avtar-center>mat-card>mat-card-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .avtar-center>mat-card>mat-card-actions {
        margin-bottom: 10px;
    }
}