<div class="limited-dashboard">
    <mat-card>
        <mat-card-content>
            <div class="limited-dashboard">
                <mat-chip-list>
                    <mat-chip class="story-point-chip">
                        <span matBadge="3" matBadgeOverlap="false">Mahmmadkhamar Shaikh</span>
                    </mat-chip>
                    <mat-chip class="story-point-chip">
                        <span matBadge="3" matBadgeOverlap="false">Pandarinath</span>
                    </mat-chip>
                    <mat-chip class="story-point-chip">
                        <span matBadge="3" matBadgeOverlap="false">Akash</span>
                    </mat-chip>
                    <mat-chip class="story-point-chip">
                        <span matBadge="3" matBadgeOverlap="false">Vaibhav</span>
                    </mat-chip>

                </mat-chip-list>
            </div>
            <mat-divider></mat-divider>
            <div class="limited-dashboard">
                Team Members who are not sure !
            </div>
            <div class="limited-dashboard">
                <mat-chip-list>
                    <mat-chip class="story-point-not-sure-chip">
                        Rahul
                        <mat-icon style="padding-left: 2px;">sentiment_very_dissatisfied</mat-icon>
                    </mat-chip>
                    <mat-chip class="story-point-not-sure-chip">
                        Shipa
                        <mat-icon style="padding-left: 2px;"> sentiment_very_dissatisfied</mat-icon>
                    </mat-chip>
                </mat-chip-list>
            </div>
            <mat-divider></mat-divider>
            <div class="limited-dashboard">
                Still have a doubt

            </div>
            <div class="limited-dashboard">
                <mat-chip-list>
                    <mat-chip class="story-point-doubt-chip">
                        Vaibhav
                        <mat-icon>not_listed_location</mat-icon>
                    </mat-chip>
                    <mat-chip class="story-point-doubt-chip">
                        Rupal
                        <mat-icon>not_listed_location</mat-icon>
                    </mat-chip>
                </mat-chip-list>
            </div>
        </mat-card-content>
    </mat-card>
</div>
